@keyframes freshAnim {
  0% { opacity: 0.5; background-color: rgba(235, 235, 250, 1) }
  100% { opacity: 1.0; background-color: rgba(255, 255, 255, 0) }
}

.station-name {
  text-transform: uppercase;
}

.now-playing {
  font-family: monospace;
  font-size: medium;
}

.now-playing.fresh {
  opacity: 0.0;
  animation-name: freshAnim;
  animation-duration: 1.8s;
  animation-fill-mode: forwards;
}
