@keyframes freshAnim {
  0% { opacity: 0.5; background-color: rgba(235, 235, 250, 1) }
  100% { opacity: 1.0; background-color: rgba(255, 255, 255, 0) }
}

.station-name {
  text-transform: uppercase;
}

.now-playing {
  font-family: monospace;
  font-size: medium;
}

.now-playing.fresh {
  opacity: 0.0;
  animation-name: freshAnim;
  animation-duration: 1.8s;
  animation-fill-mode: forwards;
}

.cover-image {
  width: 65px;
  height: 65px;
  position: relative;
}

.cover-image > img {
  width: 65px;
  height: 65px;
}

a.radio-station:hover > .cover-image > div.play-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 65px;
  height: 65px;
  background-image: url("./img/play.png");
  background-size: 65px 65px;
  opacity: 1;
  z-index: 2;
}
